
<div class="container">
    <br> <h5>Countries Playing Cricket:</h5><br><br>
    <div class="row">
        <div class="col-md-3">
            <img class="logo" src="../../assets/india.webp">
            <p>India</p>
        </div>
        <div class="col-md-3">
            <img class="logo" src="../../assets/australia.webp">
            <p>Australia</p>
        </div>
        <div class="col-md-3">
             <img class="logo" src="../../assets/bangladesh.webp">
             <p>Bangladesh</p>
         </div>
         <div class="col-md-3">
             <img class="logo" src="../../assets/england.webp">
             <p>England</p>
         </div>
         <div class="col-md-3">
             <img class="logo" src="../../assets/new-zealand.webp">
             <p>New-Zealand</p>
         </div>
         <div class="col-md-3">
             <img class="logo" src="../../assets/pakistan.webp">
             <p>Pakistan</p>
         </div>
         <div class="col-md-3">
             <img class="logo" src="../../assets/south-africa.webp">
             <p>South-africa</p>
         </div>
         <div class="col-md-3">
             <img class="logo" src="../../assets/sri-lanka.jpg">
             <p>Sri-lanka</p>
         </div>
         <div class="col-md-3">
             <img class="logo" src="../../assets/afghanistan.jpg">
             <p>Afganistan</p>
         </div>
         <div class="col-md-3">
             <img class="logo" src="../../assets/west-indies.webp">
             <p>West-Indies</p>
         </div>
         <div class="col-md-3">
             <img class="logo" src="../../assets/zimbabwe.webp">
             <p>Zimbabwe</p>
         </div>
         <div class="col-md-3">
             <img class="logo" src="../../assets/ireland-cricket.webp">
             <p>Ireland</p>
         </div>
    </div>
 </div>
 