
<div class="container-fluid">
    <div class="card" style="background-color: lightpink; margin-top: 10px;">
        <div class="card-body">
            <div class="card-title" ><b>Indian Cricket Team In Australia in 2018-19</b></div><br>
            <div class="container-fluid">
            <div class="row">
                <!-- <div class="card" style="width: 30%;"> -->
                    <!-- <div class="card-body"> -->
                    <div class="col lg-4">
                        <h5>INDIA</h5>
                        <img class="image1" src="../../assets/download (1).jpg">
                    </div>
                    <div class="col lg-4">
                        <h5>AUSTRALIA</h5>
                        <img class="image2" src="../../assets/OIP (3).jpg">
                    </div>
                    <!-- </div> -->
                <!-- </div> -->
             </div><br> 
             <hr/>
             <h6><b>Dates: 21 November 2018 - 18 January 2019</b></h6> <hr/>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p class="text"><b>Captains</b></p>
            </div>
            <div class="col-sm-4">
                <p class="text">Virat Kohli</p>
            </div>
            <div class="col sm-4">
                <p class="text">Tim Paine(Tests) Aaron Finch(T20,ODI)</p>
            </div>
        </div>
    </div>
   </div><br>
   <div class="row" style="margin-right: 10%;">
       <div class="col md-4">
            <div class="card" style="width: 90%; background-color: aliceblue;">
                    <div class="card-title"><b>Test Series </b></div><hr/>
                    <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="big-text"><b>Results</b></p>
                        </div>
                        <div class="col-sm-6">
                            <p class="big-text">India won the 4-match series 2-1</p>
                        </div>
                    </div><hr/>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="big-text"><b>Most Runs</b></p>
                        </div>
                        <div class="col-sm-4">
                            <p class="big-text">Marcus Harris(258)</p>
                        </div>
                        <div class="col-sm-4">
                            <p class="big-text">Cheteshwar Pujara(521)</p>
                        </div>
                    </div><hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="big-text"><b>Most Wickets</b></p>
                        </div>
                        <div class="col-sm-4">
                            <p class="big-text">Nathan Lyon(21)</p>
                        </div>
                        <div class="col-sm-4">
                            <p class="big-text">Jasprit Bumrah(21)</p>
                        </div>
                    </div><hr>
                    <div class="row" style="background-color: lightgray;">
                        <div class="col-sm-6">
                            <p class="big-text"><b>Players of the Series</b></p>
                        </div>
                        <div class="col-sm-6">
                            <p class="big-text">Cheteshwar Pujara(Ind)</p>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    <div class="col md-4">
         <div class="card" style="width: 80%; background-color: aliceblue;">
                 <div class="card-title"><b>One Day International series </b></div><hr/>
                 <div class="container">
                 <div class="row">
                     <div class="col-sm-6">
                         <p class="big-text"><b>Results</b></p>
                     </div>
                     <div class="col-sm-6">
                         <p class="big-text">India won the 3-match series 2-1</p>
                     </div>
                 </div><hr/>
                 <div class="row">
                     <div class="col-sm-4">
                         <p class="big-text"><b>Most Runs</b></p>
                     </div>
                     <div class="col-sm-4">
                         <p class="big-text">Shaun Marsh(224)</p>
                     </div>
                     <div class="col-sm-4">
                         <p class="big-text">MS Dhoni</p>
                     </div>
                 </div><hr>
                 <div class="row">
                     <div class="col-sm-4">
                         <p class="big-text"><b>Most Wickets</b></p>
                     </div>
                     <div class="col-sm-4">
                         <p class="big-text">Jhye Richardsn(6)</p>
                     </div>
                     <div class="col-sm-4">
                         <p class="big-text">Bhuvneshwar Kumar(8)</p>
                     </div>
                 </div><hr>
                 <div class="row" style="background-color: lightgray;">
                     <div class="col-sm-6">
                         <p class="big-text"><b>Players of the Series</b></p>
                     </div>
                     <div class="col-sm-6">
                         <p class="big-text">MS Dhoni(Ind)</p>
                     </div>
                 </div>
                 </div>
         </div>
     </div>
     <div class="col md-4">
        <div class="card" style="width: 80%; background-color: aliceblue;">
                <div class="card-title"><b>Twenty20 International series</b></div><hr/>
                <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="big-text"><b>Results</b></p>
                    </div>
                    <div class="col-sm-6">
                        <p class="big-text">3-match series drawn 1-1</p>
                    </div>
                </div><hr/>
                <div class="row">
                    <div class="col-sm-4">
                        <p class="big-text"><b>Most Runs</b></p>
                    </div>
                    <div class="col-sm-4">
                        <p class="big-text">Glean maxwell(78)</p>
                    </div>
                    <div class="col-sm-4">
                        <p class="big-text">Shikhar Dhawan(117)</p>
                    </div>
                </div><hr>
                <div class="row">
                    <div class="col-sm-4">
                        <p class="big-text"><b>Most Wickets</b></p>
                    </div>
                    <div class="col-sm-4">
                        <p class="big-text">Adam zampa(3)</p>
                    </div>
                    <div class="col-sm-4">
                        <p class="big-text">Krunal Pandya(5)</p>
                    </div>
                </div><hr>
                <div class="row" style="background-color: lightgray;">
                    <div class="col-sm-6">
                        <p class="big-text"><b>Players of the Series</b></p>
                    </div>
                    <div class="col-sm-6">
                        <p class="big-text">Shikhar dhawan(Ind)</p>
                    </div>
                </div>
                </div>
        </div>
    </div>
    </div>
    
</div>


