
<div class="container">
    <h4 class="heading" style="text-align: center;">India Tour Of Australia 2018-19</h4>
    
    
    <div class="row">
        <div class="col lg-6 mb-4">
    <div class="card">
        <div class="card-body">
    <h4 class="card-title">Indian Squad </h4><br>
    <div class="container-fluid">
        <h5>Batsman</h5>
        <div class="row">
            <div class="col md-4">
                <img class="image" src="../../assets/virat-kohli.webp"><br>
                <a href="/profile">Virat Kohli(Captain)</a>
            </div>
            <div class="col md-4">
                <img class="image" src="../../assets/rohit-sharma.webp"><br>
                <a href="/profile">Rohit Sharma</a>
            </div>
            <div class="col md-4">
                <img class="image" src="../../assets/murali-vijay.webp"><br>
                <a href="/profile">Murali Vijay</a>
            </div>
        </div><br><br>
        <div class="row">
            <div class="col md-4">
                <img class="image" src="../../assets/prithvi-shaw.webp"><br>
                <a href="/profile">Prithvi Shaw</a>
            </div>
            <div class="col md-4">
                <img class="image" src="../../assets/cheteshwar-pujara.webp"><br>
                <a href="/profile">Cheteshwar Pujara</a>
            </div>
            <div class="col md-6">
                <img class="image" src="../../assets/ajinkya-rahane.webp"><br>
                <a href="/profile">Ajinkya Rahane</a>
            </div>
        </div><br><br><br>
        <h5>All Rounder</h5>
        <div class="row">
            <div class="col md-4">
                <img class="image" src="../../assets/hanuma-vihari.webp"><br>
                <a href="/profile">Hanuma Vihari</a>
            </div>
            <div class="col md-4">
                <img class="image" src="../../assets/ravichandran-ashwin.webp"><br>
                <a href="/profile">Ravichandran Ashwin</a>
            </div>
            <div class="col md-6">
                <img class="image" src="../../assets/ravindra-jadeja.webp"><br>
                <a href="/profile">Ravindra Jadeja</a>
            </div>
        </div><br><br><br>
        <h5>Weeket Keeper</h5>
        <div class="row">
            <div class="col md-4">
                <img class="image" src="../../assets/kl-rahul.webp"><br>
                <a href="/profile">KL Rahul</a>
            </div>
            <div class="col md-4">
                <img class="image" src="../../assets/rishabh-pant.webp"><br>
                <a href="/profile">Rishabh Pant</a>
            </div>
            <div class="col md-6">
                <img class="image" src="../../assets/parthiv-patel.webp"><br>
                <a href="/profile">Parthiv Patel</a>
            </div>
        </div><br><br><br>
        <h5>Bowlers</h5>
        <div class="row">
            <div class="col md-4">
                <img class="image" src="../../assets/umesh-yadav.webp"><br>
                <a href="/profile">Umesh yadav</a>
            </div>
            <div class="col md-4">
                <img class="image" src="../../assets/bhuvneshwar-kumar.webp"><br>
                <a href="/profile">Bhuvneshwar Kumar</a>
            </div>
            <div class="col md-6">
                <img class="image" src="../../assets/jasprit-bumrah.webp"><br>
                <a href="/profile">Jasprit Bumrah</a>
            </div>
        </div><br><br><br>
        <div class="row">
            <div class="col md-4">
                <img class="image" src="../../assets/kuldeep-yadav.webp"><br>
                <a href="/profile">Kuldeep Yadav</a>
            </div>
            <div class="col md-4">
                <img class="image" src="../../assets/mohammed-shami.webp"><br>
                <a href="/profile">Mohammed Shami</a>
            </div>
            <div class="col md-6">
                <img class="image" src="../../assets/ishant-sharma.webp"><br>
                <a href="/profile">Ishant Sharma</a>
            </div>
        </div><br><br><br>
    </div>
    </div>
    </div>
    </div>
    <div class="col lg-6 mb-4">
    <div class="card">
        <div class="card-body">
    <h4 class="card-title">Australian Squad</h4><br>
    <div class="container-fluid">
        <h5>Batsman</h5>
        <div class="row">
            <div class="col md-4">
                <img class="image" src="../../assets/aaron-finch.webp"><br>
                <a href="/profile">Aaron finch(Captain)</a>
            </div>
            <div class="col md-4">
                <img class="image" src="../../assets/marcus-harris.webp"><br>
                <a href="/profile">Marcus Harris</a>
            </div>
            <div class="col md-6">
                <img class="image" src="../../assets/shaun-marsh.webp"><br>
                <a href="/profile">Shaun Marsh</a>
            </div>
        </div><br><br>
        <div class="row">
            <div class="col md-4">
                <img class="image" src="../../assets/usman-khawaja.webp"><br>
                <a href="/profile">Usman Khawaja</a>
            </div>
            <!-- <div class="col md-4">
                <img class="image" src="../../assets/cheteshwar-pujara.webp"><br>
                <a href="/profile">Cheteshwar Pujara</a>
            </div>
            <div class="col md-6">
                <img class="image" src="../../assets/ajinkya-rahane.webp"><br>
                <a href="/profile">Ajinkya Rahane</a>
            </div> -->
        </div><br><br><br>
        <h5>All Rounder</h5>
        <div class="row">
            <div class="col md-4">
                <img class="image" src="../../assets/mitchell-marsh.webp"><br>
                <a href="/profile">Mitchell Marsh</a>
            </div>
            <div class="col md-4">
                <img class="image" src="../../assets/travis-head.webp"><br>
                <a href="/profile">Travis Head</a>
            </div>
            <!-- <div class="col md-6">
                <img class="image" src="../../assets/ravindra-jadeja.webp"><br>
                <a href="/profile">Ravindra Jadeja</a>
            </div> -->
        </div><br><br><br>
        <h5>Weeket Keeper</h5>
        <div class="row">
            <div class="col md-4">
                <img class="image" src="../../assets/tim-paine.webp"><br>
                <a href="/profile">Tim Paine</a>
            </div>
            <div class="col md-4">
                <img class="image" src="../../assets/peter-handscomb.webp"><br>
                <a href="/profile">Peter Handscomb</a>
            </div>
            <!-- <div class="col md-6">
                <img class="image" src="../../assets/parthiv-patel.webp"><br>
                <a href="/profile">Parthiv Patel</a>
            </div> -->
        </div><br><br><br>
        <h5>Bowlers</h5>
        <div class="row">
            <div class="col md-4">
                <img class="image" src="../../assets/josh-hazlewood.webp"><br>
                <a href="/profile">Josh Hazlewood</a>
            </div>
            <div class="col md-4">
                <img class="image" src="../../assets/nathan-lyon.webp"><br>
                <a href="/profile">Nathan Iyon</a>
            </div>
            <div class="col md-6">
                <img class="image" src="../../assets/pat-cummins.webp"><br>
                <a href="/profile">Pat Cummins</a>
            </div>
        </div><br><br><br>
        <div class="row">
            <div class="col md-4">
                <img class="image" src="../../assets/peter-siddle.webp"><br>
                <a href="/profile">Peter siddle</a>
            </div>
            <div class="col md-4">
                <img class="image" src="../../assets/mitchell-starc.webp"><br>
                <a href="/profile">Mitchell Stark</a>
            </div>
            <div class="col md-6">
                <img class="image" src="../../assets/chris-tremain.webp"><br>
                <a href="/profile">Chris Tremain</a>
            </div>
        </div><br><br><br>
    </div>
    </div>
    </div>
    </div>
    </div>
</div>
