<div class="header-fixed">

    <nav class="navbar navbar-expand-sm" style="background-color: darkgray;">
      <div class="container">
          <ul class="nav navbar-nav">
    
    
            
    
              <li>
                  <a class="btn btn-link" routerLink="">Countries</a>
              </li>
              <li>
                  <a class="btn btn-link" href="/teams">Teams</a>
              </li>
              <li>
                  <a class="nav-link" href="/players">Players</a>
              </li>
    
              <li>
                  <a class="nav-link" href="/venue">Venue</a>
              </li>
              <li>
                  <a class="nav-link" href="/matches">Matches</a>
              </li>
              <li>
                <a class="nav-link" href="/result">Result</a>
            </li>
              
          </ul>
      </div>
    </nav>
    </div>
    
    
    

<router-outlet></router-outlet>
