<div class="container-fluid">
    <h4 class="heading">India Tour Of Australia 2018-19</h4><br>
    <h5 class="text-big" style="background-color:cadetblue;">Nov 21,Wed</h5>
    <p><b>AUSTRALIA VS INDIA</b></p>
    <h6>1st T20I at the Gabba, Brisbane</h6><br>
   
    
    <h5 class="text-big" style="background-color:cadetblue;">Nov 23, Fri</h5>
    <p><b>AUSTRALIA VS INDIA</b></p>
    <h6>2nd T20I at Melburne Cricket Ground</h6>
    <br>

    <h5 class="text-big" style="background-color:cadetblue;">Nov 25, Sun</h5>
    <p><b>AUSTRALIA VS INDIA</b></p>
    <h6>3rd T20 at Sydney Cricket Ground,sydney</h6>
    <br>

    <h5 class="text-big" style="background-color:cadetblue;">Nov 28, Wed</h5>
    <p><b>AUSTRALIA VS INDIA</b></p>
    <h6>4-day Practice Match at Sydney Cricket Ground, Sydney</h6>
    <br>

    <h5 class="text-big" style="background-color:cadetblue;">Dec 06, Thu</h5>
    <p><b>AUSTRALIA VS INDIA</b></p>
    <h6>!st Test at Adelaide Oval, Adelaide</h6>
   <br>

    <h5 class="text-big" style="background-color:cadetblue;">Dec 14, Fri</h5>
    <p><b>AUSTRALIA VS INDIA</b></p>
    <h6>2nd Test at Perth Stadium, Perth</h6>
    <br>

    <h5 class="text-big" style="background-color:cadetblue;">Dec 26, Wed</h5>
    <p><b>AUSTRALIA VS INDIA</b></p>
    <h6>3rd Test at Melburne Cricket Ground, Melbourne</h6>
    <br>

    <h5 class="text-big" style="background-color:cadetblue;">Jan 03, Thu</h5>
    <p><b>AUSTRALIA VS INDIA</b></p>
    <h6>4th Test at Sydney Cricket Ground,sydney</h6>
    <br>

    <h5 class="text-big" style="background-color:cadetblue;">Jan 12, Sat</h5>
    <p><b>AUSTRALIA VS INDIA</b></p>
    <h6>1st ODI at Sydney Cricket Ground,Sydney</h6>
   <br>

    <h5 class="text-big" style="background-color:cadetblue;">Jan 15,Sat</h5>
    <p><b>AUSTRALIA VS INDIA</b></p>
    <h6>2nd ODI at Adelaide Oval, Adelaide</h6>
    <br>

    <h5 class="text-big" style="background-color:cadetblue;">Jan 18, Fri</h5>
    <p><b>AUSTRALIA VS INDIA</b></p>
    <h6>3rd ODI at Melburne Cricket Ground,Melburne</h6>
   <br>
</div>


