
<div class="container" >
    
            <h4 class="card-title">India Tour Of Australia 2018-19</h4><br><br>
            <div class="row">
                <div class="col md-6">
                     <button type="button" class="btn btn-info"> <a href="/list">List Of matches</a></button>
                </div>
                <div class="col md-6">
                    <button type="button" class="btn btn-info"><a href="/summary">Summary of Match</a></button>
                </div>
        
</div>
